* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d1117;
    color: #c9d1d9;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}

#terminal {
    maxwidth: 800px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
}

#output {
    marigin-bottom: 20px;
}

#input-line {
    display:flex;
    align-items: center;
}

#prompt {
    color: #3fb950;
    margin-right: 10px;
    font-weight: bold;
}

#command-input {
    background: transparent;
    border: none;
    color: #c9d1d9;
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    outline: none;
}